// Colors
$clr1: #ff385c;
$clr2: #dddddd;
$clr3: #fff;
$clr4: #717171;
$clr5: #222;
$clr6: #000;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1200px;
$extra-wide-breakpoint: 1400px;

$layout-padding: 40px;
$mobile-layout-padding: 24px;
$stay-details-layout: 1127px;
