.filter-by {
    display: flex;

    gap: 2px;

    &>* {
        color: #568D8A;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: white;
        cursor: pointer;
    }

    &>*:active {
        background-color: #568D8A;
        color: white;
    }
}